@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: black;
}

.lk-participant-placeholder {
    display: none;
}


.lk-participant-metadata {
    display: none;
}

.lk-participant-media-video {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    object-fit: cover;
}


.leaveRoomBtn {
    position: absolute;
    bottom: 1em;
    right: 50%;
    transform: translateX(50%);
    background-color: rgb(177, 44, 44);
    padding: 0.5em 2em;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}