@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    transition: all 0.3s;
}

body {
    background-color: black;
}

.lk-participant-placeholder {
    display: none;
}


.lk-participant-metadata {
    display: none;
}

.lk-participant-media-video {
    position: absolute;
    top: 0;
    right: 0;
    width: 233;
    height: 100vh;
    object-fit: cover;
}


.leaveRoomBtn {
    position: absolute;
    bottom: 1em;
    right: 50%;
    transform: translateX(50%);
    background-color: rgb(177, 44, 44);
    padding: 0.5em 2em;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 767px) {
    /* Styles for small screens */
    .lk-participant-media-video {
        width: 100%;
        height: auto;
    }

    .leaveRoomBtn {
        bottom: 2em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Styles for large screens */
  
    .lk-participant-media-video {
        width: 100%;
        height: auto;
    }

    .leaveRoomBtn {
        bottom: 3em;
    }
}